<footer>
    <div class="container footer-container">
        <div class="row">
            <img src="/img/logo2.png" width="50px" />
            <a href="/about">About Hootcode</a>
            <div class="footer-copyright pull-right">
                &copy; 2015, Imaginea Technologies Inc. All Rights Reserved.
            </div>
        </div>
    </div>
</footer>

<div id="list-notifications"></div>

<script src="/js/hootcode.min.js"></script>
