<li class="dropdown">
  <a class="dropdown-toggle" id="drop-account" href="#" data-toggle="dropdown">
    <%= gravatar_tag current_user.avatar_url, size: 20 %>
    <%= current_user.username %> <b class="caret"></b>
  </a>

  <ul class="dropdown-menu" role="menu">
    <li><a role="menuitem" href="/account"><span class="navbar-link-icon fa fa-user fa-fw"></span>Account</a></li>
    <li><a role="menuitem" href="/nits/<%= current_user.username %>/stats"><span class="navbar-link-icon fa fa-thumb-tack fa-fw"></span>Nit Stats</a></li>
    <li><a role="menuitem" href="/looks"><span class="navbar-link-icon fa fa-eye fa-fw"></span>Recents</a></li>
    <li><a role="menuitem" href="/logout"><span class="navbar-link-icon fa fa-sign-out fa-fw"></span>Log Out</a></li>
  </ul>
</li>
