<div class="container">
  <section class="contain-centered error-page-container">
    <h1>Sorry! That's our fault!</h1>
    <img src="/img/e.png" class="block-image">
    <p>
      If you'd like to provide information about this error or request help, please
      visit our <a href="https://github.com/hanumakanthvvn/exercism.io/issues">GitHub issues page</a>.
    </p>
    <p>~</p>
  </section>
</div>
