<div class="container">
  <section class="contain-centered error-page-container">
    <h2 class="four-zero-four">4<span class="fa fa-frown-o"></span>4</h2>
    <p>Looking for something else may be?</p>
  </section>
</div>
