<div class="centered">
  <div class="title">
    <h1>Create Assginment</h1>
  </div>
  <br/>
  <section>
  	<p>Make sure specific language repository exist in the Git. (Example: <code>x-java</code>) </p>
    <p>Clone the specific language repository and create a folder with exercise name. </p>
       <p>lets say: cd x-java
                 mkdir web-crawler
                 inside the exercise folder crete test case files for the specific problem.</p>
    <p> Register your exercise name in the config.json file under problems key.</p>
    <p> Commit these changes to x-java git hub repository.</p>

    <p>Clone the x-meta to create the general instructions for the exercise.</p>
    <p> Create .md & .yml files with exercise name.  Example: <pre>web-crawler.md &  web-crawler.yml</pre></p>
    <p> In .md file add the instructions for the exercise.</p>
    <p> In the .yml file add blurb, source and source url for the exercise.</p> 
    <p>Commit these changes to x-meta git hub repository.</p>             
  </section>
</div>
