<div class="jumbotron hootcode-banner">
  <div class="container page-get-started">
    <h1 class="text-center">Get Started</h1>
    <p class="text-center">A step wise guide to get you set up with Hootcode CLI &amp; Online Account</p>
  </div>
</div>
<div class="container"data-spy="scroll" data-target="#get-started-nav">
  
  <div class="row">
    <div class="col-sm-2">
      <ul class="nav nav-pills nav-stacked" id="get-started-nav">
        <li><a href="#login-with-github">1. Log In</a></li>
        <li><a href="#download-cli">2. Download</a></li>
        <li><a href="#configure">3. Configure</a></li>
      </ul>
    </div>
    <div class="col-sm-10 instruction-cards">
      <!-- Log In With GitHub -->
      <div class="panel panel-default" id="login-with-github">
        <div class="panel-step">1</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center">
              <span class="fa fa-github fa-fw" style="font-size:10em"></span>
              <a href="/login" class="btn btn-primary btn-lg btn-block">Log In</a>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Download CLI -->
      <div class="panel panel-default" id="download-cli">
        <div class="panel-step">2</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <p>Head over to the terminal and download the CLI in <code>$HOME/bin/</code>.</p>
              <div class="fancy-terminal">
                <p>sudo su</p>
                <p>curl -L http://hootcode.com/downloads/hootcode > /usr/local/bin/hootcode; chmod +x /usr/local/bin/hootcode</p>
              </div>
              <p>If you wist to install it somewhere else, <a href="/help#downloading-cli">follow these instructions</a>.</p>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Configure  -->
      <div class="panel panel-default" id="configure">
        <div class="panel-step">3</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
                <% if !current_user.guest? %>

                  <p>Configure the CLI to use your API key.</p>
                  <div class="fancy-terminal">
                    <p>hootcode configure --key=<i data-toggle="tooltip" data-placement="top" title="Your API Key"><%= current_user.key%></i></p>
                  </div>
                  <p>You can always find your API key in the <a href="/account">account</a> page.</p>
                <% else %>
                  <p class="text-center"><span class="fa fa-exclamation-triangle text-danger"></span> You must <a href="/login">log in</a> to get your API key.</p>
                <% end %>
              
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>