<div class="container about">
  <section class="page-header">
    <h1>JavaScript Exercises</h1>
  </section>

  <section class='main'>
    <article>
      <p>JavaScript is a dynamic computer programming language. It is most commonly used as part of Web browsers, whose implementations allow client-side scripts to interact with the user, control the browser, communicate asynchronously, and alter the document content that is displayed.</p>
    </article>
  </section>

  <section class="main col-md-8">
    <article class="article-block">
      <div class="article-contents">
        <ul>
          <% @problems.each do |name| %>
            <li>
              <h4 style='display: inline-block;'><b><a href="/exercises/java/<%=name%>/readme" target="_blank"> <%= name.capitalize.gsub("-"," ").split.map(&:capitalize).join(' ') %></a></b></h4>
              <a class="btn btn-default btn-sm pull-right" href="/nitpick/javascript/<%= name%>"><i class="fa fa-info"></i></a>
            </li>
          <% end %>
        </ul>
      </div>
    </article>
  </section>
</div>
